<h1>Time Deposit Rates</h1>

<h2>New Fund Rates</h2>
<table>
  <thead>
    <tr>
      <th>Tenor (Month)</th>
      <th>Deposit Amount (HKD)</th>
      <th>Interest Rates (p.a.)</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.newFundRates as |rate|}}
      <tr>
        <td>{{rate.tenor}}</td>
        <td>{{rate.amount}}</td>
        <td>{{rate.rate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>Existing Fund Rates</h2>
<table>
  <thead>
    <tr>
      <th>Tenor (Month)</th>
      <th>Deposit Amount (HKD)</th>
      <th>Interest Rates (p.a.)</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.existingFundRates as |rate|}}
      <tr>
        <td>{{rate.tenor}}</td>
        <td>{{rate.amount}}</td>
        <td>{{rate.rate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>