<h1>{{t 'timeDepositRates.title'}}</h1>
{{log 'isAuthenticated' this.session.isAuthenticated}}
{{log 'newFundRates' this.newFundRates}}
{{#if this.session.isAuthenticated}}
  <p>Welcome, {{this.session.username}}!</p>
{{else}}
  <p>Please log in to view the rates.</p>
{{/if}}

<h2>{{t 'timeDepositRates.newFundRates'}}</h2>
<table>
  <thead>
    <tr>
      <th>{{t 'timeDepositRates.tenor'}}</th>
      <th>{{t 'timeDepositRates.amount'}}</th>
      <th>{{t 'timeDepositRates.rate'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.newFundRates as |rate|}}
      <tr>
        <td>{{rate.tenor}}</td>
        <td>{{rate.amount}}</td>
        <td>{{rate.rate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>{{t 'timeDepositRates.existingFundRates'}}</h2>
<table>
  <thead>
    <tr>
      <th>{{t 'timeDepositRates.tenor'}}</th>
      <th>{{t 'timeDepositRates.amount'}}</th>
      <th>{{t 'timeDepositRates.rate'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.existingFundRates as |rate|}}
      <tr>
        <td>{{rate.tenor}}</td>
        <td>{{rate.amount}}</td>
        <td>{{rate.rate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<button type="button" {{on "click" (fn this.changeLanguage 'en-us')}}>English</button>
<button type="button" {{on "click" (fn this.changeLanguage 'zh-cn')}}>中文</button>