<h1>{{t 'timeDepositRates.title'}}</h1>

<h2>{{t 'timeDepositRates.newFundRates'}}</h2>
<table>
  <thead>
    <tr>
      <th>{{t 'timeDepositRates.tenor'}}</th>
      <th>{{t 'timeDepositRates.amount'}}</th>
      <th>{{t 'timeDepositRates.rate'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.newFundRates as |rate|}}
      <tr>
        <td>{{rate.tenor}}</td>
        <td>{{rate.amount}}</td>
        <td>{{rate.rate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>{{t 'timeDepositRates.existingFundRates'}}</h2>
<table>
  <thead>
    <tr>
      <th>{{t 'timeDepositRates.tenor'}}</th>
      <th>{{t 'timeDepositRates.amount'}}</th>
      <th>{{t 'timeDepositRates.rate'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.existingFundRates as |rate|}}
      <tr>
        <td>{{rate.tenor}}</td>
        <td>{{rate.amount}}</td>
        <td>{{rate.rate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>